In [31]:
import pandas as pd

In [62]:
import random
import string

def get_random_string(length):
    # choose from all lowercase letter
    letters = string.ascii_lowercase
    return ''.join(random.choice(letters) for i in range(length))

names = [get_random_string(6) for i in range(7366)]

In [63]:
len(names)

7366

In [64]:
category = []
cat = []
for i in range(1, 7367):
    if i <= 1360:
        category.append('Fy')
        cat.append(0.5)
        
    elif i > 1360 and i <= 3020:
        category.append('Fr')
        cat.append(0.5)
        
    elif i > 3020  and i <= 3080:
        category.append('Ht')
        cat.append(1)
        
    elif i > 3080 and i <= 3370:
        category.append('Sp')
        cat.append(0.5)
        
    elif i > 3370 and i <= 3630:
        category.append('St')
        cat.append(1)
        
    elif i > 3630 and i <= 7366:
        category.append('Ot')
        cat.append(0.5)

In [65]:
for i in [1360,1660,60,290,260,3736]: print(1 - i/7366)

0.8153679065978822
0.7746402389356503
0.9918544664675536
0.9606299212598425
0.9647026880260657
0.49280477871300565

In [66]:
df = pd.DataFrame()
df['names'] = names
df['category'] = category
df['weight'] = cat

In [67]:
df

       names category  weight
0     qsuaby       Fy     0.5
1     bwagbs       Fy     0.5
2     hlavrm       Fy     0.5
3     yyhnih       Fy     0.5
4     nacwtr       Fy     0.5
...      ...      ...     ...
7361  fdmoyb       Ot     0.5
7362  eukixo       Ot     0.5
7363  ecsbha       Ot     0.5
7364  ajlucq       Ot     0.5
7365  feaflt       Ot     0.5

[7366 rows x 3 columns]

In [68]:
df = df.sample(frac = 1, random_state = 2021).reset_index(drop = True)

In [69]:
df['category'].value_counts()

Ot    3736
Fr    1660
Fy    1360
Sp     290
St     260
Ht      60
Name: category, dtype: int64

In [70]:
df.to_csv('male_applicants.csv', index = False)